{% extends 'base.html' %}

{% block content %}
<div class="container">

  <div class="d-flex justify-content-between align-items-center">
    <h1>Things</h1>
    <a href="/things/create" class="btn btn-primary">Create Thing</a> 
  </div>

  <table class="table"> 
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for thing in things %}
      <tr>
        <td>{{ thing['name'] }}</td>
        <td>{{ thing['description'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}